<!Doctype html>
<html>
  <head>
    <h1>Buster's Best Bowling Alley</h1>
    <!--<h2>Bet You Can't Bowl A Strike Every Time</h2>-->
  </head>
  <body>
    <p>
      97 Bowling Alley Lane, Boudler CO
    </p>
  </body>
  
</html>